    @tailwind base;
    @tailwind components;
    @tailwind utilities;

/* styles.css */
.bg-tlo {
    background-image: url("tlo.jpg");
    background-size: cover;
    background-position: center;
}
    